.benef-card{
	width: 30%;
	margin: 15px;
	padding: 50px;
	border: 2px solid #bbb;
	border-radius: 8px;
}

.benef-card img{
	max-width: 250px;
	margin: 0 auto;
}

ul{
	list-style: none;
}
