<div class="container">
	<div class="row justify-content-md">
		<form>
			<h3>Sign Up</h3>
			<div class="form-group" id="signup-form">
				<label for="exampleInputEmail1">Email address</label>
				<input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" name="emailInput">
			</div>
			<div class="form-group">
				<label for="exampleInputPassword1">Password</label>
				<input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" name="passwordInput">
			</div>
			<button class="btn btn-primary">Submit</button>
		</form>

		<h4>Or...</h4>

		<form>
			<h3>Log In</h3>
			<div class="form-group" id="signup-form">
				<label for="exampleInputEmail1">Email address</label>
				<input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" name="emailInput">
			</div>
			<div class="form-group">
				<label for="exampleInputPassword1">Password</label>
				<input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" name="passwordInput">
			</div>
			<button class="btn btn-primary">Submit</button>
		</form>
	</div>
</div>
