<div class="container">
	<div class="logo-complement"></div>
	<h2 class="text-center">Available Jobs</h2>

<div *ngIf="applicationFeedback">
	<h4 class="success text-center" >{{applicationFeedback}}</h4>
</div>

<div *ngIf="errorMessage">
	<h4 class="error text-center" >{{errorMessage}}</h4>
</div>
	<div class="mx-auto text-center">
		<h3 class="text-center select-heading">Select a language below: <span class="big-flag flag-icon flag-icon-{{selectedIsoCode}}"></span></h3>

		<select (change)="updateJobList()" class="form-control form-control-lg" [(ngModel)]="selectedLanguage">
		  <option *ngFor="let lang of langArr" >{{lang.langDisplay}}</option>
		</select>
		<!-- [ngValue]="lang.language" -->
	</div>


		<div *ngFor="let job of filteredJobs">
			<div class="job-card col-md-4">
				<div class="job-card-owner-info text-center">
					<img src="{{job.owner.avatarUrl}}" alt="">
					<h4>Posted by: {{job.owner.username}}</h4>
				</div>
				<div class="job-card-language-info text-center">

				<span class="flag-icon flag-icon-{{job.sourceLanguageIsoCode}}"></span>
				<h4 class="job-card-heading">{{job.sourceLanguage}}</h4>

				<i class="fa fa-arrow-right" aria-hidden="true"></i>
				<span class="flag-icon flag-icon-{{job.targetLanguageIsoCode}}"></span>
				<h4 class="job-card-heading">{{job.targetLanguage}}</h4>
			</div>
				<br>
				<h4 class="text-center">Total Payout: ${{job.price}}</h4>

				<div class="divider"></div>
<i class="fa fa-quote-left" aria-hidden="true" title="Content"></i>
				<h5 class="text-center">{{job.content}}</h5>
				<i class="fa fa-quote-right" aria-hidden="true" title="Content"></i>

				<div class="divider"></div>
				<button (click)="applyClick(job._id)" class="btn btn-large btn-primary text-center mx-auto">Apply</button>
			</div>
		</div>

</div>
