<h2>Available Jobs</h2>

<h3>Language selection: </h3>

<select (change)="updateJobList()" class="custom-select" [(ngModel)]="selectedLanguage">
  <option selected>choose a language...</option>
  <option *ngFor="let lang of langArr" [ngValue]="lang.language">
		<span class="flag-icon flag-icon-{{lang.isoCode}}">a</span>
		{{lang.langDisplay}}
	</option>
</select>
 <!-- *ngIf="{{job.sourceLanguage}} === {{selectedLanguage}}" -->

<ul>

	<li *ngFor="let job of filteredJobs">
		<div class="job-card col-md-4">
		<h3>Source Language: {{job.sourceLanguage}}</h3>
		<span>=></span>
		<h3>Target Language: {{job.targetLanguage}}</h3>
		<h4>Content: </h4>
		<p>{{job.content}}</p>
		<br>
		<span></span>
		<button (click)="applyClick(job._id)" class="btn btn-large btn-primary">Apply</button>
	</div>
	</li>
</ul>
