footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 60px;
	line-height: 60px;
	background-color: #f8f9fa;
}

nav {
  font-size: 1.3em;
}

nav li {
  padding: 10px 20px;
}


/*bootstrap select height issue fix*/
.input-group-lg>.input-group-btn>select.btn:not([size]):not([multiple]), .input-group-lg>select.form-control:not([size]):not([multiple]), .input-group-lg>select.input-group-addon:not([size]):not([multiple]), select.form-control-lg:not([size]):not([multiple]) {
    height: calc(2.3125rem + 20px);
}
#form-calculation-fields input{
	text-align: center;
}


footer i{
	font-size: 1.3em;
}
