<header>

	<nav id="navbar" class="navbar navbar-expand-lg navbar-light bg-light">
		<a class="navbar-brand" routerLink="/">
			<img id="navbar-logo" src="https://s3.us-east-2.amazonaws.com/babelwish/logo.png" alt="">
		</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>

		<div class="collapse navbar-collapse" id="navbarNavDropdown">
			<ul class="navbar-nav justify-content-center mx-auto ">
				<li class="nav-item active">
					<a class="nav-link" routerLink="/">Home <span class="sr-only">(current)</span></a>
				</li>
				<li class="nav-item" *ngIf="userInfo">
					<a class="nav-link" routerLink="/jobs">Find a Job</a>
				</li>
				<li class="nav-item" *ngIf="userInfo">
					<a class="nav-link" routerLink="/post-job">Create a Job</a>
				</li>
				<li class="nav-item" *ngIf="userInfo">
					<a class="nav-link" routerLink="/beneficiaries">Beneficiaries</a>
				</li>

			</ul>


			<ul class="navbar-nav ml-auto navbar-right">
				<li class="nav-item" *ngIf="userInfo">
					<a class="nav-link" routerLink="/dashboard">Dashboard</a>
				</li>
				<li class="nav-item" *ngIf="userInfo">
					<a class="nav-link" [routerLink]="['/users', userInfo._id]">Profile</a>
				</li>
				<li class="nav-item" *ngIf="!userInfo">
					<a routerLink="/login" class="nav-link">Log In</a>
				</li>
				<li class="nav-item" *ngIf="!userInfo">
					<a routerLink="/signup" class="nav-link">Sign Up</a>
				</li>
				<li (click)="logMeOut()" class="nav-item" *ngIf="userInfo">
					<a class="btn nav-link">Log Out</a>
				</li>
			</ul>

		</div>
	</nav>
</header>

<div class="mb-mt-fix">

<router-outlet></router-outlet>
</div>

<footer class="footer">
	<div>
		<span class="float-left"><p>Made with meow</p></span>
		<span class="float-right">View Project on <a target="_blank" href="https://github.com/wba0/"><i title="Github" class="fa fa-github" aria-hidden="true"></i>
</a></span>
	</div>
</footer>
