footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 60px;
	line-height: 60px;
	background-color: #f8f9fa;
	font-size: 1.3em;
}

nav {
  font-size: 1.3em;
}

.navbar{
	margin-bottom: 0px;
}

nav li {
  padding: 10px 20px;
}
.navbar-light .navbar-nav .nav-link {
    color: #000;
}
#navbar-logo{
position: relative;
bottom: 100%;
}


/*bootstrap select height issue fix*/
.input-group-lg>.input-group-btn>select.btn:not([size]):not([multiple]), .input-group-lg>select.form-control:not([size]):not([multiple]), .input-group-lg>select.input-group-addon:not([size]):not([multiple]), select.form-control-lg:not([size]):not([multiple]) {
    height: calc(2.3125rem + 20px);
}
#form-calculation-fields input{
	text-align: center;
}

footer .dedication-link{
		color: #F26D6E
}
footer i{
	font-size: 1.5em;
	color: #F26D6E
}

footer span{
	margin: 0 30px;
}

.mb-mt-fix{
	margin-bottom: 60px;
}

#navbar{
	background-color: #FEED54 !important;
	font-family: 'Montserrat', sans-serif;

}
