<!-- <h1 class="text-center">Welcome to BabelWish</h1>

<h3 class="text-center">If you are new, please <a routerLink="signup">Sign Up</a></h3> -->
<div class="container-fluid no-mt-fix" >
	<div class="row justify-content-center" id="splash-section">
		<img src="https://s3.us-east-2.amazonaws.com/babelwish/splash.png" alt="">
		<div class="down-arrow-container"><a  href="#lets-go-button"><span class="down-arrow"></span></a></div>
	</div>
	<div class="row  justify-content-center">
		<div class="col-md-3 text-center">

			<img src="https://s3.us-east-2.amazonaws.com/babelwish/step1.png" alt="">
			<h3>Search for a job based on your language skills</h3>
		</div>
		<div class="col-md-3 text-center">

			<img src="https://s3.us-east-2.amazonaws.com/babelwish/step2.png" alt="">
			<h3>After being approved, specify the charity you want to support</h3>
		</div>
		<div class="col-md-3 text-center">

			<img src="https://s3.us-east-2.amazonaws.com/babelwish/step3.png" alt="">
			<h3>Your translation is accepted and your supported charity is paid!</h3>
		</div>

	</div>
	<div class="row">
		<div id="lets-go-button"><h3><a routerLink="/signup">Get started now!</a></h3></div>
	</div>

	<div class="row justify-content-around" id="spiel-container">
		<div class="col-3" id="spiel-img">
			<img src="https://s3.us-east-2.amazonaws.com/babelwish/spiel.png" alt="">
		</div>
		<div id="spiel-text" class="col-6 ">
			<h2>
				Share Love with a Simple Act
			</h2>
			<h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit et, tenetur nisi quo! Nesciunt repellendus vitae nulla odio, maiores nostrum veritatis porro laboriosam a voluptatum nobis sequi aut aliquam, ea!</h3>
		</div>
	</div>
</div>
