/* You can add global styles to this file, and also import other style files */
* {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}


html, body {

		/*height: 100%;*/
    margin: 0;
    padding: 0;
}
html{
	min-height: 100%;
	position: relative
}
body{
	min-height: 100%;
}

h1, h2, h3, h4, h5, h6, nav, nav li a {
  font-family: 'Raleway', sans-serif;
}
.container, .container-fluid{
	margin-top: 75px;
}
#navbar, #navbar li, #navbar li a{
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
}

p, span, a {
  font-family: 'Open Sans', sans-serif;
}



h2{
	margin-bottom: 50px;
}

@media (min-width: 1920px) {
  .container {width: 1600px;
	max-width: 1920px;}
}


.success{
	background-color: #DEEFD8;
	padding: 15px 30px;
	border-radius: 8px;
}

.error{
	background-color: crimson;
	padding: 15px 30px;
	border-radius: 8px;
}

.btn-primary{
	background-color: #F26D6E;
	border-color: #fff;
}
.btn-primary:hover {
    color: #000;
    background-color: #eee;
    border-color: #000;
}
.btn-primary.active, .btn-primary:active, .open>.dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #eee;
    border-color: #000;
}
.btn:hover {
    color: #000;
    background-color: #eee;
    border-color: #000;
}
.btn.active, .btn:active, .open>.dropdown-toggle.btn {
    color: #fff;
    background-color: #eee;
    border-color: #000;
}

.btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary:active.focus, .btn-primary:active:focus, .btn-primary:active:hover, .open>.dropdown-toggle.btn-primary.focus, .open>.dropdown-toggle.btn-primary:focus, .open>.dropdown-toggle.btn-primary:hover {
	color: #fff;
	background-color: #eee;
	border-color: #000;
}
.btn-primary.focus, .btn-primary:focus {
	color: #fff;
	background-color: #eee;
	border-color: #000;
}

.logo-complement{
	width: 290px;
    height: 290px;
    background-color: #FEED54;
    border-radius: 50%;
    position: absolute;
    top: -4%;
    left: -3%;
    z-index: -1;}
