/* You can add global styles to this file, and also import other style files */
* {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}


html, body {

		/*height: 100%;*/
    margin: 0;
    padding: 0;
}
html{
	min-height: 100%;
	position: relative
}
body{
	min-height: 100%;
}

h1, h2, h3, h4, h5, h6, nav, nav li a {
  font-family: 'Raleway', sans-serif;
}

p, span, a {
  font-family: 'Open Sans', sans-serif;
}



h2{
	margin-bottom: 50px;
}

@media (min-width: 1920px) {
  .container {width: 1600px;
	max-width: 1920px;}
}


.success{
	background-color: #DEEFD8;
	padding: 15px 30px;
	border-radius: 8px;
}

.error{
	background-color: crimson;
	padding: 15px 30px;
	border-radius: 8px;
}
