<div class="container mx-auto">

	<div id="user-info" class="text-center mx-auto">
		<img src="{{userInfo.avatarUrl}}" alt="">
	<h2 class="text-center">Welcome, {{userInfo.username}}</h2>
</div>










	<div class="row">
		<div class="col-3">
			<div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist">
				<h4>Jobs you have created</h4>
				<a class="nav-link active" id="v-pills-created-posted-jobs-tab" data-toggle="pill" href="#v-pills-created-posted-jobs" role="tab" aria-controls="v-pills-created-posted-jobs" aria-expanded="true">Posted Jobs</a>
				<a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-expanded="true">Active Jobs</a>
				<a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-expanded="true">Translated Jobs</a>
				<a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-expanded="true">Finished Jobs</a>
				<hr>
				<h4>Jobs you are translating</h4>

				<a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-expanded="true">Active Jobs</a>
				<a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-expanded="true">Translated Jobs</a>
				<a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-expanded="true">Finished Jobs</a>
			</div>
		</div>
		<div class="col-9">

			<div class="tab-content" id="v-pills-tabContent">
				<div class="tab-pane fade show active" id="v-pills-created-posted-jobs" role="tabpanel" aria-labelledby="v-pills-created-posted-jobs-tab">
					<div class="row">
						<ul class="dashboard-job-list">
							<li *ngFor="let job of ownedJobs">
								<div> Job ID: <a [routerLink]="['/jobs', job._id]">{{job._id}}</a>
								</div>
								<div>
									<h4><i class="fa fa-language" aria-hidden="true" title="Translation"></i>

Translation</h4>

									<p>{{job.sourceLanguage}}
									<i class="fa fa-arrow-right" aria-hidden="true"></i>
						{{job.targetLanguage}}
									</p>

									<p> <i class="fa fa-quote-left" aria-hidden="true" title="Content"></i> {{job.content}} ...
									</p>
								</div>
								<div>
									<h4><i class="fa fa-info" aria-hidden="true" title="Information"></i>Information
</h4>

									<p *ngIf="job.worker"><i class="fa fa-handshake-o" aria-hidden="true" title="Worker"></i> {{job.worker}}
									</p>
									<p *ngIf="job.beneficiaryId"><i class="fa fa-heart" aria-hidden="true" title="Beneficiary"></i> {{job.beneficiaryId}}
									</p>
									<p> <i class="fa fa-calculator" aria-hidden="true" Title="Word/Character Count"></i> {{job.wordCount}} words/characters
									</p>
									<p> <i class="fa fa-usd" aria-hidden="true" title="Price"></i> {{job.price}}
									</p>
								</div>
								<div>
									<h4><i class="fa fa-retweet" aria-hidden="true" title="Flow"></i>
Flow</h4>
									<p>Undergoing work:
										<span *ngIf="job.undergoingWork" style="color: green"><i class="fa fa-check-square-o" aria-hidden="true"></i></span>
										<span *ngIf="!job.undergoingWork" style="color: crimson"><i class="fa fa-times-circle-o" aria-hidden="true"></i></span>
									</p>
									<p>Finished and awaiting payment:
										<span *ngIf="job.finishedNotPaid" style="color: green"><i class="fa fa-check-square-o" aria-hidden="true"></i></span>
										<span *ngIf="!job.finishedNotPaid" style="color: crimson"><i class="fa fa-times-circle-o" aria-hidden="true"></i></span>
									</p>
									<p>Finished and Paid:
										<span *ngIf="job.finishedAndPaid" style="color: green"><i class="fa fa-check-square-o" aria-hidden="true"></i></span>
										<span *ngIf="!job.finishedAndPaid" style="color: crimson"><i class="fa fa-times-circle-o" aria-hidden="true"></i></span>
									</p>

								</div>

								<div>
									<h4><i class="fa fa-users" aria-hidden="true"></i>
Applicants:</h4>

									<!-- NEED CUSTOM PIPE HERE? -->
									<!-- <ul>
											<li *ngFor="let applicant of job.applicants">
													<p>{{applicant._id}}</p>
													<ul>
														<li *ngFor="let oneApplicant of applicant">
															<p>{{oneApplicant._id}}</p>
														</li>
													</ul>
											</li>
										</ul> -->
								</div>
							</li>
						</ul>
					</div>
				</div>
				<div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">Two</div>
				<div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">...</div>
				<div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">...</div>
				<div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">One</div>
				<div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">Two</div>
				<div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">...</div>
				<div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">Eight</div>
			</div>


		</div>

	</div>

</div>

<!--
<li *ngFor="let job of ownedActiveJobs">

<li *ngFor="let job of workingJobs">

<li *ngFor="let job of awaitingPaymentJobs"> -->
