<div class="container mx-auto">


	<h2 class="text-center">Welcome, {{userInfo.username}}</h2>
	<img src="{{userInfo.avatarUrl}}" alt="">

	<h4>Jobs you have created:</h4>
	<div class="row">

		<ul class="dashboard-job-list">
			<li *ngFor="let job of ownedJobs">
					<p> Job ID: {{job._id}}
					</p>
					<p>undergoing work: {{job.undergoingWork}}</p>
					<span>{{job.sourceLanguage}}
					</span>
					<span><i class="fa fa-arrow-right" aria-hidden="true"></i></span>
					<span> {{job.targetLanguage}}
					</span>
					<p> Content: {{job.content}}
					</p>
					<hr>
					<p>
						Applicants:

						<!-- NEED CUSTOM PIPE HERE? -->
						<!-- <ul>
							<li *ngFor="let applicant of job.applicants">
									<p>{{applicant._id}}</p>
									<ul>
										<li *ngFor="let oneApplicant of applicant">
											<p>{{oneApplicant._id}}</p>
										</li>
									</ul>
							</li>
						</ul> -->
			</li>
		</ul>
	</div>

	<h4>Active jobs you have created:</h4>
	<div class="row">

		<ol class="dashboard-job-list">
			<li *ngFor="let job of ownedActiveJobs">
				<ul class="dashboard-single-job">
					<li> Job ID: {{job._id}}
					</li>
					<li>{{job.sourceLanguage}}
					</li>
					<li><i class="fa fa-arrow-down" aria-hidden="true"></i>
				</li>
					<li> {{job.targetLanguage}}
					</li>
					<li> Content: {{job.content}}
					</li>
					<li> Beneficiary: {{job.beneficiaryId}}
					</li>
				</ul>
			</li>
		</ol>
	</div>
	<h4>Jobs you are working on:</h4>
	<div class="row">

		<ol class="dashboard-job-list">
			<li *ngFor="let job of workingJobs">
				<ul class="dashboard-single-job">
					<li> Job ID: {{job._id}}
					</li>
					<li>{{job.sourceLanguage}}
					</li>
					<li><i class="fa fa-arrow-down" aria-hidden="true"></i>
				</li>
					<li> {{job.targetLanguage}}
					</li>
					<li> Content: {{job.content}}
					</li>
					<li> Beneficiary: {{job.beneficiaryId}}
					</li>
				</ul>
			</li>
		</ol>
	</div>

	<h4>Jobs awaiting payment:</h4>
	<div class="row">

		<ol class="dashboard-job-list">
			<li *ngFor="let job of awaitingPaymentJobs">
				<ul class="dashboard-single-job">
					<li> Job ID: {{job._id}}
					</li>
					<li>{{job.sourceLanguage}}
					</li>
					<li><i class="fa fa-arrow-down" aria-hidden="true"></i>
				</li>
					<li> {{job.targetLanguage}}
					</li>
					<li> Content: {{job.content}}
					</li>
					<li> Beneficiary: {{job.beneficiaryId}}
					</li>
					<li> Price: {{job.price}}
					</li>
				</ul>
			</li>
		</ol>
	</div>

	<h4>Completed Jobs:</h4>
	<h4>Your contributions:</h4>


</div>
