.buffer-div{
	height: 200px;
}
i{
	font-size: 1.3em;
	margin-right: 10px;
}
li{

}
.dashboard-job-list{
	max-width: 30%;
}
.dashboard-job-list{
	display: inline-block;
	border: 1px solid #ddd;
	border-radius: 8px;
	padding: 10px;
	margin: 15px;

}
.dashboard-job-list .applicant-list{
	display: block;
border: none;

}
.dashboard-job-list .applicant-list h4{
display: inline-block;
}

.dashboard-job-list div:last-child{
	border-bottom: none;
}
.dashboard-job-list div{
	border-bottom: 1px dashed #bbb;
	padding: 10px;
}


.dashboard-job-list h4{
	margin-bottom: 25px;
}
.dashboard-job-list h4 i{
	font-size: 1.5em;
}

#user-info img{
	max-width: 125px;

}

.accept-icon{
	color: lime;
	cursor: pointer;
	font-size: 1.2em;
}
.reject-icon{
	color: crimson;
	cursor: pointer;
	font-size: 1.2em;
}


.job-count{
	color: #000;
background-color: #bbb;
padding: 5px;
margin-left: 10px;
border-radius: 50%;
width: 22px;
height: 22px;
display: inline-block;
}

.job-count span{
		position: relative;
    bottom: 4px;
    left: 2px;
}

.flag-icon{
	font-size: 1.2em;
	margin-right: 10px;
}

.fa-arrow-right{
	margin-left: 15px;
}

p{font-size: 16px;}

.fa-check, .fa-times{
	margin-left: 5px;
}
.fa-check-square-o, .fa-times-circle-o{
	margin-left: 10px;
}

.job-card-button{
	background-color: indigo;
	color: #fff;
	padding: 10px 20px;
	border-radius: 8px;
	margin: 0 auto;
	cursor: pointer;
}

.translated-content-modal div,
.translated-content-modal h3{
	margin: 30px 0;
}
.translated-content-modal{
	text-align: center;
	background: #eee;
position: absolute;
bottom: 30%;
left: 20%;
border-radius: 8px;
padding: 50px;
}
.translated-content-modal h4{
	display: inline-block;
}

.no-copy{
	-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
-o-user-select: none;
user-select: none;
}

.job-card-title{
	color: #fff;
	padding: 10px 20px;
	border-radius: 8px;
	margin: 0 auto;
	text-align: center;
}

.job-card-title a{
	color: #fff;
	text-decoration: none;
}

.awaiting-approval{
	background-color: indigo;
}
.working-active{
	background-color: blue;
}
.working-finished-job{

	background-color: limegreen;
}
.awaiting-applicants{
	background-color: orange;
	color: #000;
}

.translation-in-progress{
	background-color: blueviolet;

}
.created-finished{
	background-color: limegreen;
}

.awaiting-payment{
	background-color: indigo;
}

.dashboard-job-list .translation-flags{
	padding: 10px;
	border-radius: 8px;
	background: #eee;
	text-align: center;
	font-size: 1.5em;
    width: 200px;
		margin: 0 auto;
}

.nav-pills .nav-link.active, .show>.nav-pills .nav-link {
    color: #fff;
    background-color: #F26D6E;
}

.nav-link{
	cursor: pointer;
}

.translation-content{
	text-align: center;
	margin-top:20px;
}

.dashboard-job-list p,
.dashboard-job-list li{
	margin: 15px auto;
	text-align: center;
}

/*.dashboard-job-list p{
margin: 10px;
}*/

.logo-complement{
	top: -5%;
}

#rating-select{
	margin: 10px auto;
	width: 80px;
}

/*bootstrap select height issue fix*/
select.form-control:not([size]):not([multiple]) {
    height: calc(3rem + 2px);
}

.delete-job-icon:hover{
	color: crimson;
}
.delete-job-icon{
	color: #000;
	position: relative;
left: 93%;
position: relative;
cursor: pointer;
}
